<?xml version="1.0" ?>
<config>
	<modules>
		<Impressive_Pharmacy>
			<version>0.1.0</version>
		</Impressive_Pharmacy>
	</modules>
	<global>
		<helpers>
			<pharmacy>
				<class>Impressive_Pharmacy_Helper</class>
			</pharmacy>
		</helpers>
		<blocks>
			<pharmacy>
				<class>Impressive_Pharmacy_Block</class>
			</pharmacy>
		</blocks>
		<models>
			<pharmacy>
				<class>Impressive_Pharmacy_Model</class>
				<resourceModel>resource_impressive</resourceModel>
			</pharmacy>
			<resource_impressive>
				<class>Impressive_Pharmacy_Model_Resource</class>
				<entities>
					<test>
						<table>test</table>
					</test>
				</entities>
			</resource_impressive>
		</models>
		<resources>
			<pharmacy>
				<setup>
					<module>Impressive_Pharmacy</module>
				</setup>
			</pharmacy>
			<connection>
				<use>core_setup</use>
			</connection>
		</resources>
	</global>
	<frontend>
		<routers>
			<pharmacy>
				<use>standard</use>
				<args>
					<module>Impressive_Pharmacy</module>
					<frontName>impressive</frontName>
				</args>
			</pharmacy>
		</routers>
		<layout>
			<updates>
				<pharmacy>
					<file>impressive_pharmacy.xml</file>
				</pharmacy>
			</updates>
		</layout>
	</frontend>
</config>
